header {
  background-color: $turquoise;
  font-size: 80px;
  margin: 0 0 20px;
  text-align: center;
  color: $white;
}

section {
  margin: auto;
  padding: 0 50px;
  text-align: center;
}

#authMessage {
  font-size: 20px;
  text-align: center;
  clear: both;
}

.box {
  background-color: $turquoise;
  border: 5px solid black;
  border-radius: 20px;
  float: left;
  font-size: 140px;
  height: 100%;
  margin: 1px;
  text-align: center;
  width: 30%;
}

.container {
  display: none;
  height: 600px;
  margin: 50px auto 0;
  width: 80%;
}

.row {
  color: $white;
  height: 200px;
  margin: auto;
}

.winner {
  color: $turquoise;
  font-size: 80px;
  padding: 10px;
  text-align: center;
}

.gameButtons {
  clear: both;
}

#change-password {
  display: none;
  text-align: left;
}

#sign-out {
  display: none;
  text-align: right;
}

#restart-game {
  display: none;
}

#sign-up {
  float:left;
}

#sign-in {
  float: right;
}

#new-game {
  clear: both;
  display: none;
}

#get-games {
  display: none;
}

#change-password {
  float: left;
}

#sign-out {
  float: right;
}
