.box {
  float: left;
  margin: auto;
  height: 100%;
  width: 33%;
  border: 5px solid black;
  font-size: 140px;
  text-align: center;
}

.container {
  width: 80%;
  margin: 50px auto;
  height: 600px;
}

.row {
  margin: auto;
  height: 200px;
}
